<script src="./tmpl.min.js"></script>

<script type="text/x-tmpl" id="tmpl-demo">
    <ul>
        {% for (let i of Object.values(o.list)) { %}
            <div>
                <a href="{%= i.resolved_url %}">
                    {% if (i.has_image === '1') { %}
                        <img src="{%= i.top_image_url %}" height="200" />
                    {% } %}
                    <h2>{%= i.resolved_title %}</h2>
                    <p>{%= i.excerpt %}</p>
                    <p class="time-to-read">{%= i.time_to_read %} min</p>
                </a>
            </div>
        {% } %}
    </ul>
</script>

<script>
    window.addEventListener('message', function(event) {
        switch (event.data.command) {
            case 'render':
                event.source.postMessage({
                    name: event.data.command,
                    html: tmpl('tmpl-demo', event.data.content)
                }, event.origin);
                break;
        }
    });
</script>
